#root { height: 100% }
html,
body {
  background-color: #242423!important;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.txt-color-white {
  color: #f8f9fa;
}

.nav-custom-button {
    border-radius: 50px!important;
    padding: auto 5% auto 5%!important;
    color: #f8f9fa !important;
}

/*--------------------------------------------SWIPER--------------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* background: green; */
  /* margin-right: 10px !important; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 65vh !important;
  /* width: 20vw !important; */
  cursor: pointer;
}

.swiper-slide>div>img {
  display: block;
  width:100%;
  height: 100%;
  object-fit:cover !important;
  opacity: 0.85;
}

.swiper-slide:hover img {
  opacity: 1;
	-webkit-animation: flash 2.5s;
	animation: flash 2.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.swiper-button-next, .swiper-button-prev {
  color: white !important;
}

.campaign-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f8f9fa;
  padding-left: 5%;
}

@media (max-width: 769px) {
    .swiper-slide {
      height: 40vh !important;
    }
}

@media (max-width: 1024px) {
    .swiper-slide {
      height: 50vh !important;
    }
}

/*--------------------------------------------MODAL--------------------------------------------*/

.customModal {
  max-height: calc(100vh - 225px);
  float:right !important;
  margin-top:0 !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .customModal {
    min-width: 100vw !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width:  768px) {
  .customModal {
    width: 70vw !important;
    max-height: calc(100vh - 425px) !important;
  }
}

.modal-content {
  background-color: #242423 !important;
  border-radius:0% !important;
  border:none !important;
  color: #f8f9fa;
}

.modal-header {
  border-bottom: none !important;
  padding: 1rem 2rem 0 !important;
  line-height: normal;
}

.close {
  color: white !important;
  opacity:none !important;
  font-weight: 100 !important;
  font-size: 2rem !important;
  text-shadow: none !important;
}

.modal-backdrop {
  background-color: transparent !important;
}

.modalCustomBody  {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.modalCustomBody span {
  font-size: x-small;
  font-weight: 100;
}

.modalCustomBody p {
  font-size:13px !important;
  font-weight: 400;
}

.modal-footer {
  padding: 0 !important;
  border:none !important;
}

.click-state{
  background-color: gray !important;
  /* cursor: none; */
}

@media only screen and (max-width: 600px) {
  .hideMobile {
    display: none;
  }
}